altgraph==0.17.4
annotated-types==0.6.0
anyio==4.4.0
attrs==23.2.0
auto-py-to-exe==2.42.0
blinker==1.8.2
bottle==0.12.25
bottle-websocket==0.2.9
camelot-py==0.9.0
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cryptography==42.0.5
cycler==0.12.1
dacite==1.8.1
decorator==4.4.2
distlib==0.3.8
distro==1.9.0
Eel==0.16.0
et-xmlfile==1.1.0
filelock==3.14.0
Flask==3.0.3
fonttools==4.50.0
fsspec==2024.5.0
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
gunicorn==23.0.0
h11==0.14.0
htmlmin==0.1.12
httpcore==1.0.5
httpx==0.27.0
huepy==1.2.1
huggingface-hub==0.23.2
idna==3.6
ImageHash==4.3.1
imageio==2.35.1
imageio-ffmpeg==0.5.1
iniconfig==2.0.0
instabot==0.117.0
intel-openmp==2021.4.0
itsdangerous==2.2.0
Jinja2==3.1.3
jiter==0.5.0
joblib==1.1.1
JPype1==1.5.0
kiwisolver==1.4.5
llvmlite==0.42.0
lxml==5.3.0
MarkupSafe==2.1.5
matplotlib==3.8.3
missingno==0.5.2
mkl==2021.4.0
mock==5.1.0
moviepy==1.0.3
mpmath==1.3.0
multimethod==1.11.2
mysql-connector-python==9.0.0
networkx==3.2.1
numba==0.59.1
numpy==1.26.4
openai==1.41.1
opencv-python==4.9.0.80
openpyxl==3.1.2
packaging==23.2
pandas==2.2.1
pandas-profiling==3.2.0
patsy==0.5.6
pdfminer.six==20231228
pdfplumber==0.11.4
pefile==2023.2.7
phik==0.12.4
pillow==10.3.0
platformdirs==4.2.2
pluggy==1.5.0
proglog==0.1.10
pycparser==2.21
pydantic==2.6.4
pydantic_core==2.16.3
pydub==0.25.1
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
pyparsing==3.1.2
PyPDF2==3.0.1
pypdfium2==4.30.0
PySocks==1.7.1
pytest==8.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyWavelets==1.5.0
pywin32-ctypes==0.2.2
pyxlsb==1.0.10
PyYAML==6.0.1
regex==2024.5.15
requests==2.31.0
requests-toolbelt==1.0.0
responses==0.25.3
safetensors==0.4.3
schedule==1.2.2
scipy==1.11.4
seaborn==0.12.2
setuptools==69.2.0
six==1.16.0
sniffio==1.3.1
statsmodels==0.14.1
sympy==1.12
tabula-py==2.9.0
tangled-up-in-unicode==0.2.0
tbb==2021.12.0
tiktoken==0.7.0
tokenizers==0.19.1
torch==2.3.0
tqdm==4.66.2
transformers==4.41.1
typeguard==4.2.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.26.3
visions==0.7.6
Werkzeug==3.0.4
whichcraft==0.6.1
wordcloud==1.9.3
XlsxWriter==3.2.0
ydata-profiling==4.7.0
zope.event==5.0
zope.interface==6.2
